<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>Document</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>-->
<!--        страница про нас-->
<!--    </h1>-->
<!--</body>-->
<!--</html>-->
{% extends 'base.html' %}
{% block title %}
    главная страница
{% endblock %}
{% block body %}
<div class="container">
    <h1>добавление статьи</h1>
    <form action="/create-article" method="post">
        <input name="title" id="title" class="form-control" type="text"><br>
        <textarea name="intro" id="intro" class="form-control"></textarea><br>
        <textarea name="text" id="text" class="form-control"></textarea><br>
        <input class="btn btn-success" value="отправить" type="submit"><br>
    </form>
</div>
{% endblock %}