<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>Document</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>-->
<!--        страница про нас-->
<!--    </h1>-->
<!--</body>-->
<!--</html>-->
{% extends 'base.html' %}
{% block title %}
    {{article.title}}
{% endblock %}
{% block body %}
<div class="container">
    <h1>    {{article.title}}</h1>

        <div class="alert-info">
            <p>{{article.text}}</p>
            <p><b>дата: {{ article.date.date() }}</p>
            <a href="/posts/{{ article.id }}/delete" class="btn btn-warning">удалить</a>
            <a href="/posts/{{ article.id }}/update" class="btn btn-success">редактировать</a>
<!--            <a href="/posts/{{ el.id }}"></a>-->
<!--            <button class="btn btn-warning">детальнее</button>-->
        </div>
    </div>
{% endblock %}